<%- include('../_layouts/admin-header') -%>

<img src="../5ee0d674bb567d09642c5c6a_tiet.jpg" alt="image" style="width: 30; height: 30;">

<h2 class="page-title">Products</h2>
<a href="/admin/products/add-product" class="btn btn-primary">Add a new product</a>
<br><br>

<% if (count > 0) { %>
<table class="table table-striped alignmiddle">
    <thead>
        <tr class="home">
            <th>Product</th>
            <th>Price</th>
            <th>Category</th>
            <th>Product Image</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <% products.forEach(function(product){ %>
        <tr>
            <td><%= product.name %></td>
            <td>Rs.<%= parseFloat(product.price).toFixed(2) %> per kg</td>
            <td><%= product.category %></td>
            <td>
               
                <% if (product.image == "") { %>
                <img id="noimage" src="/images/noimage.PNG">
                <% } else {%>
                <img id="noimage" src="product_images/<%= product._id %>_<%= product.image %>">
                <% }%>
            </td>
            <td><a href="/admin/products/edit-product/<%= product._id %>">Edit</a></td>
            <td><a class="confirmDeletion" href="/admin/products/delete-product/<%= product._id %>">Delete</a></td>
        </tr>
        <% }); %>
    </tbody>
</table>
<% } else {%>
<h3 class="text-center">There are no products.</h3>
<% }%>

<%- include('../_layouts/admin-footer') -%>