<%- include ('_layouts/header') -%>

<div class="container">

<% if (cart.length !== 0) { %>
    <h1 class="page-title">Your Cart</h1>
    <br><br>
    <table class="table alignmiddle" style="padding: 15px 15px;">
        
        <tr>
            <th style="text-align: center;"> <span style="font-size: 16px;"> Product </span></th>
            <th style="text-align: center;"><span style="font-size: 16px;"> Update quantity </span></th>
            <th style="text-align: center;"><span style="font-size: 16px;"> Subtotal </span></th>
        </tr>
        
        <% var total = 0; %>
        <% cart.forEach(function(product){ %>
        <% var sub = parseFloat(product.qty * product.price).toFixed(2) %>
        <% total += +sub %>
        <tr>
            <td style="text-align: center;"><img id="noimage" src="/product_images/<%= product.id %>_<%= product.image %>" width="50" height="50">
                <h3><%= product.title %> </h3><br>
            </td>
            
            
            <td style="text-align: center;">
                <a href="/cart/update/<%= product.title %>?action=add" style="font-size: 30px;color: #4CAF50;">+</a>&nbsp;
                <a href="/cart/update/<%= product.title %>?action=remove" style="font-size: 30px;color: #4CAF50;">-</a>&nbsp;
                <a href="/cart/update/<%= product.title %>?action=clear" style="font-size: 30px;color:#F37C62"><i class="fa fa-trash"></i></a>&nbsp;
            </td>
            <td style="text-align: center;"><span style="font-size: 16px;" > <i class="fa fa-rupee"></i> <%= product.price %>  * <%= product.qty %></span> <br>
               <span style="font-size: 16px;"> &nbsp;&nbsp;&nbsp;&nbsp;= <i class="fa fa-rupee"></i> <%= sub %></span>
            </td>
        </tr>
        <% }); %>
        <tr>
            <td colspan="3" style="text-align: end;" ><span style="font-size: 16px;"> <b>Total: </b> Rs.<%= parseFloat(total).toFixed(2) %>
            </span></td>
        </tr>
        <tr>
            <td colspan="2" align="right">
                <a class="clearcart btn btn-danger" href="/cart/clear">Clear cart</a>
            </td>
            <td colspan="2" align="right">
                <a class="btn btn-success buynow" href="#">Buy now</a>
            </td>
        </tr>
        
    </table>
   
    <% } else {%>
    <h3 class="text-center">Your cart is empty.</h3>
    <% } %>

    <script>
    $(function() {
   
        $('a.clearcart').on('click', function () {
            if (!confirm('Are you sure to clear cart?'))
                return false;
        });   
    });
        
    </script>


</div>
<%- include ('_layouts/footer') -%>