<%- include ('_layouts/header') -%>

<% if (cart.length !== 0) { %>
    <h1 class="page-title">My Cart</h1>
    <br><br>
    <table class="table table-striped alignmiddle">
        
        <tr>
            <!-- <th>Image</th> -->
            <th>Title</th>
            <th>Price</th>
            <th>Quantity</th>
            <th></th>
            <th>Subtotal</th>
        </tr>
        
        <% var total = 0; %>
        <% cart.forEach(function(product){ %>
        <% var sub = parseFloat(product.qty * product.price).toFixed(2) %>
        <% total += +sub %>
        <tr>
            <!-- <td><img class="cpi" src="<%= product.image %>" alt=""></td> -->
            <td><%= product.title %></td>
            <td>Rs.<%= product.price %></td>
            <td><%= product.qty %></td>
            <td>
                <a href="/cart/update/<%= product.title %>?action=add">+</a>&nbsp;
                <a href="/cart/update/<%= product.title %>?action=remove">-</a>&nbsp;
                <a href="/cart/update/<%= product.title %>?action=clear">Clear</a>&nbsp;
            </td>
            <td>Rs.<%= sub %></td>
        </tr>
        <% }); %>
        <tr>
            <td colspan="4" align="right"><b>Total: </b> Rs.<%= parseFloat(total).toFixed(2) %></td>
        </tr>
        <tr>
            <td colspan="4" align="right">
                <a class="clearcart btn btn-danger" href="/cart/clear">Clear cart</a>
            </td>
            <td colspan="5" align="right">
                <a class="btn btn-success buynow" href="#">Buy now</a>
            </td>
        </tr>
        
    </table>
    <form class="pp" action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
    <input type="hidden" name="cmd" value="_cart">
    <input type="hidden" name="upload" value="1">
    <input type="hidden" name="business" value="jultranet-facilitator@gmail.com">
    <% var num = 0; %>
    <% cart.forEach(function(p){ %>
        <% num++ %>
        <input type="hidden" name="item_name_<%= num %>" value="<%= p.title %>">
        <input type="hidden" name="amount_<%= num %>" value="<%= p.price %>">
        <input type="hidden" name="quantity_<%= num %>" value="<%= p.qty %>">
    <% }); %>
    <input type="hidden" name="currency_code" value="USD">
    <input type="hidden" name="amount" value="<%= total %>">
    </form>
    <% } else {%>
    <h3 class="text-center">Your cart is empty.</h3>
    <% } %>

    <script>
    $(function() {
   
        $('a.clearcart').on('click', function () {
            if (!confirm('Are you sure to clear cart?'))
                return false;
        });   
    });
        
    </script>



<%- include ('_layouts/footer') -%>