<%- include ('_layouts/header') -%>

<h1> details page </h1>

<br>
<%- name %>
<br>
<%- category %>
<br>
<%- flavour %>
<br>
<%- texture %>
<br>
<%- suggesteduse %>
<br>
Rs. <%- price %>

<br><br>

<a href="/products/all" class="btn btn-primary">Go back</a>

<!-- <a href="/products/all" class="btn btn-primary">Go back</a> -->

<% if (loggedIn) { %>
    <p><a href="/cart/add/<%= id %>">Add to cart</a></p>
    <% } else {%>
        <a href="/users/login" class="btn btn-danger" >Login to purchase!</a>
    <% } %> 
