
<h1> details page </h1>

<br>
<%- name %>
<br>
<%- category %>
<br>
<%- flavour %>
<br>
<%- texture %>
<br>
<%- suggesteduse %>
<br>
Rs. <%- price %>

<br><br>

<a href="/products/all" class="btn btn-primary">Go back</a>