<%- include ('_layouts/header') -%>
<div class="container">
        <center>
    <h1> <%- name %> </h1>
    </center> 
    <div class="row">
        <div class="col-md-6">
            <img  src="/product_images/<%= id %>_<%= image %>" alt="<%= name %>" width="100%" height="100%" >
        </div>
        <div class="col-md-6 " >
            <br>
        <span style="font-size:xx-large ;color: darkgreen;">
            <i class="fa fa-rupee"></i> <b><%- price %> per Kg </b>
        </span>
            <br>
            <br>
            <% if (loggedIn) { %>
                <% if (available) { %>
                  <p><a href="/cart/add/<%= id %>" class="btn btn-default btn-info" style="background-color: #4CAF50;font-size: 16px;text-align: center;align-items: flex-end;">Add to cart</a></p>
                  <% } else {%>
                      <a href="#" class="btn btn-secondary" style="font-size: 16px;text-align: center;">Not available</a>
                  <% } %>  
                    
                <% } else {%>
                    <a href="/users/login" class="btn btn-danger" style="font-size: 16px;text-align: center;">Login to purchase!</a>
                <% } %>  
            <br>
            <span style="font-size:large;">
            Category -<%- category %>
            </span>
            <br>
            <span style="font-size:large;">
            Suggested Use - <%- suggesteduse %>
        </span>
            <br>
            

            <br><br>
      
            <a href="/products/all" class="btn btn-primary">Go back</a>

            <!-- <a href="/products/all" class="btn btn-primary">Go back</a> -->

           
        </div>
    </div>
</div>

<%- include ('_layouts/footer') -%>