products of given category

<%= category %>
<br><br>

<tbody>
    <% products.forEach(function(product){ %>
    <!-- <tr>
        <td><%= product.name %></td>
        <td>$<%= parseFloat(product.price).toFixed(2) %></td>
        <td><%= product.category %></td>
        <td>
            <% if (product.image == "") { %>
            <img id="noimage" src="/images/noimage.PNG">
            <% } else {%>
            <img id="noimage" src="/product_images/<%= product._id %>/<%= product.image %>">
            <% }%>
        </td>
        <td><a href="/admin/products/edit-product/<%= product._id %>">Edit</a></td>
        <td><a class="confirmDeletion" href="/admin/products/delete-product/<%= product._id %>">Delete</a></td>
    </tr> -->
    
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="<%= product.name %>">
        <div class="card-body">
          <h5 class="card-title"><%= product.name %></h5>
          <!-- <p class="card-text">Category : <%= product.category %></p> -->
          <a href="/products/details/<%= product._id %>" class="btn btn-primary">Get Details</a>
        </div>
      </div>
<br> <br>

    <% }); %>
</tbody>